<div *ngIf="nav.visible">
  <nav class="navbar navbar-expand-lg navbar-dark mb-5">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
      <img id="crypto-x" src="../assets/crypto-x.png" alt="Crypto-X"/>
    </a>

    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Wallet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fees</a>
        </li>
      </ul>
      <div *ngIf="!isSignedIn">
        <a class="nav-link" [routerLink]="['/sign-in']" routerLinkActive="active">Sign In</a>
      </div>
      <div *ngIf="isSignedIn">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Log Out</a>
      </div>
      <button class="btn btn-primary" [routerLink]="['/sign-up']" routerLinkActive="active">Register</button>
    </div>
  </nav>
</div>
