<!--Ethereum-->
<div class="container mb-5">
  <div id="card-intro" class="card mt-3 shadow-sm">
    <div class="card-body">
      <h3 class="card-title">Ethereum (ETH) - ${{crypto | number:'1.2-2'}}</h3>
      <canvas id="ethChart"></canvas>
      <!--chart goes here-->
      <hr style="background-color:#303b47;">
      <button class="btn btn-primary mb-2"  style="background-color: #6490f1;"type="button" data-toggle="collapse" data-target="#mCollapse1"
      aria-expanded="false" aria-controls="mCollapse1">Buy/Sell</button>
      <!--Buy/Sell collapse-->
      <div class="row">
        <div class="col">
          <div class="collapse" id="mCollapse1">
            <div class="card card-body" style="background-color:#182532;">
              <!--Inputs. Convert btc to USD and vice versa when user types a number-->
              <div class="container">
                <!--Buy-->
                <div class="row mb-2">
                  <h4>BUY</h4>
                  <div class="input-group">
                    <input type="text" id="defaultInput" placeholder="0" type="number" [(ngModel)]="USD1" value={{result1USD}}>
                    <div class="input-group-append">
                      <span class="input-group-text" id="defaultSpan">USD</span>
                    </div>
                    <input type="text" id="buyInput" placeholder="0" type="number" [(ngModel)]="ETH1" value={{result1ETH}}>
                    <div class="input-group-append">
                      <span class="input-group-text" id="buySpan">ETH</span>
                    </div>
                  </div>
                </div>
                <!--Sell-->
                <div class="row">
                  <h4>SELL</h4>
                  <div class="input-group">
                    <input type="text" id="defaultInput" placeholder="0" type="number" [(ngModel)]="ETH2" value={{result2ETH}}>
                    <div class="input-group-append">
                      <span class="input-group-text" id="defaultSpan">ETH</span>
                    </div>
                    <input type="text" id="sellInput" placeholder="0" type="number" [(ngModel)]="USD2" value={{result2USD}}>
                    <div class="input-group-append">
                      <span class="input-group-text" id="sellSpan">USD</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
